.DS_Store
__pycache__/
ghidra_9.0.4/
core
.gdb_history
peda-session-*.txt

challenge2/crack
defi1/sl
defi2/response
defi3/trace
defi3/out.html

richelieu.gpr
richelieu.rep/
*.lock
*.lock~

.vscode/ipch/


